.odd {
  background-color: #f9a4a4;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
.three {
  font-size: 24px;
}

#two {
  color: #0000ff;
  font-size: 36px;
}
#four {
  background-color: #7ef97e;
  font-size: 24px;
  font-weight: bold;
}
